# dependencies
/node_modules

# config files with sensitive data
/config/default.json
/config/production.json
/config/development.json
# BUT NOT default.example.json

# environment variables
.env

# misc
.DS_Store
.env.local

# Temp directories
~/